.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: red;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 30px;
    border-radius: 200px;
}

img {
    border-radius: 200px;
}

/* Media Query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items along the cross-axis */
    }

    .box {
        width: 80%; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust proportionally */
        margin: 15px; /* Adjust margin for smaller screens */
    }

    img {
        width: 100%; /* Make the image fill its container */
        height: auto; /* Allow height to adjust proportionally */
    }
}
